body{
    text-align: center;
}
dl{
    text-align: center;
    color: #00008B;
    font-size: xx-large;
    font-style: oblique;
    font-weight: bold;
}
h2{
    text-align: center;
    border: outset;
    border-radius: 5px;
    margin-top: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid black;
    margin-bottom: 150px;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 10px;
    color: black;
    font-weight: bold;
}
li{
    text-align: left;
    color: #	8B4513;
    font-size: xx-large;
    font-weight: 500;
}
body{
    background-image:url(Background.jpg) 
    ;
}
body{
    
}
h3{
    text-align: left;
    color: red;
    font-size: xx-large;
    font-weight: bolder;
}
h2{
    font-size: xx-large;
}
p{
    text-align: left;
    color: blue;
    font-size: xx-large;
    font-weight: bolder;
}
h1{
    color: black;
    font-size: xx-large;
    border: outset;
    border-radius: 5px;
    margin-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 100px black;
    margin-bottom: 150px;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}
myheading{
    text-align: center;
    font-size: 10em;
    color: blue;
}
img{
    border-radius: 200;
    border-style: outset;
    border: 1px solid black;
}
